// Custom styles.
//首页文章阴影样式
.post {
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
    -webkit-box-shadow: 0 0 14px rgba(202, 203, 203, .5);
    -moz-box-shadow: 0 0 14px rgba(202, 203, 204, .5);
}

//热评文章
//.ds-top-threads li a {
//    padding-left: 5px;
//    transition: border-width 0.2s linear 0s, color 0.2s linear 0s;
//    border-bottom: none;
//}

//.ds-top-threads li a:hover {
//    border-left: 8px solid #4d768c;
//}
